section
    h1 Slideshow
    img(src="{%= assetsDirectory %}/logo.gif", alt="logo")

section
    h2 Title
    pre.fragment
        code(data-trim, contenteditable).
            $.when(that(), other())
                .done(okay)
                .fail(notOkay);

section
    h2 The End